@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Roboto+Slab&display=swap');

:root {
  --primary-green: #13aa52;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/jpg/tff-background.jpg");
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  background-size: 100%;
}

#app > .container {
  background-color: white;
  min-height: calc(100vh - 125px); /* 75px for navigation + 50px for footer */
  font-family: 'Fira Mono', monospace;
}

.bg-primary-green {
  background-color: var(--primary-green);
}

.text-primary-green {
  color: var(--primary-green);
}

.font-fira-mono {
  font-family: 'Fira Mono', monospace;
}

.font-roboto-slab {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.error-message {
  min-height: 5vh;
  max-height: 10vh;
}